
/* MAINPAGE */
@font-face {
    font-family: pixelFont;
    src: url("./small_font.ttf");
}

.responsive-image{
    content: url("./assets/desktop/desktop_gif.gif");
}

body{
    background-image: url("./assets/desktop/background.jpeg") ;
    color:aliceblue;
}

.label{
    text-align: center;
    margin-bottom: 100px;
}

.icon{
    width: 150px;
    height:150px;
}

.fw-normal{
    font-family: pixelFont;
}

.contacts-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 100px;  
}
.section{
    text-align: center;
}

/* ANIMATION */
.section:nth-child(1) {
    animation: float1 3s ease-out infinite;
}

@keyframes float1 {
    50% {
        transform: translateX(50px);
    }
}

.section:nth-child(2) {
    animation: float2 3s ease-out infinite;
}

@keyframes float2 {
    50% {
        transform: translateX(-100px);
    }
}

.section:nth-child(3) {
    animation: float3 2s ease-out infinite;
}

@keyframes float3 {
    50% {
        transform: translateX(100px);
    }
}


/* FOOTER */
 .oleg-socials{
    color:white;
} 

/* SECOND PAGES */

/* //PHOTOS */
.img-carousel {
    object-fit: cover;
    max-width: 70%;
    display: block;
    margin: auto;
}
#photos-header{
    text-align: center;
    font-family: pixelFont;
    margin-top: 50px;
}
.container{
    margin-bottom: 50px;
}


/* INFO */

.information{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header{
    text-align: center;
    font-family: pixelFont;
    color: rgb(196, 16, 16);
}
.socials{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
    font-size: 1.5rem;
}
.socials a{
    text-decoration: none;
    color: inherit;
}

.icon-social{
    width:20px;
    margin-right: 10px;
}

/* MUSIC */
#music-body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* LIFT */
.home{
 text-align: center;
    font-family: pixelFont;
}
.floating-container {
    animation: float 3s ease-out infinite;
  }
  @keyframes float {
    50% {
      transform: translateY(50px);
    }
}

.carousel-item img{
    width: 100%;
}

/* MOBILE */

@media (max-width: 600px) {
    .responsive-image{
        content: url("./assets/mobile/mobile_gif.gif");
    }
    
}