
/* Information */
@font-face {
    font-family: pixelFont;
    src: url("./small_font.ttf");
}

body{
    background-image: url("./assets/desktop/background.jpeg") ;
    background-position: center;
    color:aliceblue
}


.information{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.header{
    text-align: center;
    font-family: pixelFont;
}
.socials{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    color: aliceblue;
}
.socials a{
    text-decoration: none;
    color: inherit;
}

.emphasize{
    color: red;
}

.icon{
    margin-right: 10px;
}

.home{
    margin-top: 200px;
    text-align: center;
    font-family: pixelFont;
}
.floating-container {
    animation: float 3s ease-out infinite;
  }
  @keyframes float {
    50% {
      transform: translateY(50px);
    }
}